@page
@model SeaCleanSolutions.Pages.CourseListModel
@{
    ViewData["Title"] = "Sea Clean Solutions";
    Layout = null;

}
@using Microsoft.AspNetCore.Identity
@using SeaCleanSolutions.Areas.Identity.Data

@inject SignInManager<SeaCleanSolutionsUser> SignInManager
@inject UserManager<SeaCleanSolutionsUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <script src="~/js/site.js"></script>
</head>

@if (user.Positions != "Admin")
{
    <h1>You Do NOT have permission to add courses, get out of here bitch!!!</h1>
}
else
{
    <!--Nav-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-page="/MainPainel" class="navbar-brand d-flex align-items-center">
                    <img src="~/img/logoH.png" id="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <hr>
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-3 text-center">Courses List</h4>
                @foreach (var item in Model.Courses)
                {
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @item.CourseName&nbsp;&nbsp;&nbsp;
                            <a asp-page="Course" asp-route-course="@item.CourseName"><span class="badge badge-primary badge-pill">Start</span></a>
                        </li>
                    </ul>
                }
            </article>
        </div>
    </div>
}
