@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet">
</head>

<html>
<body>

    <!--Nav-->
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a asp-page="/index" class="navbar-brand d-flex align-items-center">
                    <img src="~/img/logoH.png" id="logo" />
                </a>
            </div>
        </div>
    </header>

    <!--BodyPage-->
    <main role="main">
        <div class="col-12  text-center">
            <img id="MainImg" src="~/img/sct.png" />
        </div>
        <section class="jumbotron text-center" style="margin-top: -40px">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome!</h1>
                <p class="lead text-muted">Certifield Online Safty Training for all Sea Clean Staff. Our vision is to create a world where everyone is safe at work by providing high quality safety training courses.</p>
                <p>
                    <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/img/manualHandlingtumb.jpg" alt="Manual Handling">
                            <div class="card-body">
                                <p class="card-text">The manual handling training course is designed to provide a thorough understanding of manual handling and aims to ensure that employees understand the hazards and how to reduce the risk of injury.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">View</a>
                                    </div>
                                    <small class="text-muted">By Alex</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/img/ppe.png" alt="PPE">
                            <div class="card-body">
                                <p class="card-text">This Course will guide you through all aspects of PPE, from upper and lower body protection to respirators and helmets. Additionally, the course will discuss CSA standards and maintenance regimens. Let's work safely.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">View</a>
                                    </div>
                                    <small class="text-muted">By Alex</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/img/jangro.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"> The container that the chemical is supplied in should have a label that describes the properties of the chemical. Everyone should be aware of the chemicals they are using either in the workplace or in the home.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">View</a>
                                    </div>
                                    <small class="text-muted">By Alex</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SeaCleanSolutions - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

