@page
@model SeaCleanSolutions.Pages.PreAssessmentModel
@{
    Layout = null;
    ViewData["Title"] = "Sea Clean Solutions";
    var x = Model.QuestionarieModel.FirstOrDefault();
}

@using Microsoft.AspNetCore.Identity
@using SeaCleanSolutions.Areas.Identity.Data

@inject SignInManager<SeaCleanSolutionsUser> SignInManager
@inject UserManager<SeaCleanSolutionsUser> UserManager
<!--Imports-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <script src="~/js/site.js"></script>
</head>

<!--Nav-->
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-page="/MainPainel" class="navbar-brand d-flex align-items-center">
                <img src="~/img/logoH.png" id="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!--Body-->
<div class="container">
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <h4 class="card-title mt-3 text-center">Important...</h4>
            <p>
                Before you start, make sure.....
                this course will take around 40 minutes....
                To get your certificate you will have to answer 70% of the questions correctly....
                Good luck!
            </p>

            <!--Btn Agree-->
            <p>
                <a id="btnAssessment" class="btn btn-primary my-2 float-lg-right" asp-page="Assessment" asp-route-qID=@x.QuestionnarieID>I am Ready</a>
            </p>
        </article>
    </div>
</div>